extends layout

block content
  .background-image#match_image
  .container
    .content-main#match-view
      a(href="/").logo-container
        .logo-image
        .logo-name NextMatch
      .jumbotron.center-block.match-board
        .section-header
          p #{match.competition.caption}
        .container.section-container
          .board-section.team-info-container.home-team-info
            img#homeTeamCrest.team-crest.center-block(src=match.homeTeamData.crestUrl )
          .board-section.match-details.text-center
            if match.status === 'IN_PLAY'
                .live.center-block LIVE
            else
                .event-date-details
                  date.date #{match.date}
                  time.time #{match.time}

            if match.status === 'IN_PLAY'
              .score #{match.result.goalsHomeTeam} : #{match.result.goalsAwayTeam}
            else
              .btn.btn-default.schedule-event Remind Me

          .board-section.team-info-container.away-team-info
            img#awayTeamCrest.team-crest.center-block(src=match.awayTeamData.crestUrl )
      .versus-container
        .home-team #{match.homeTeamName}
        .versus V
        .away-team #{match.awayTeamName}
